body {
   /* background:#81BEF7; */
    background: url('imagenes/bfn.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.fondo {
    width: 600px;
    height: 600px;
    background: url('imagenes/bfn.jpg') #000 no-repeat;
    background-size: 50%;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    background: #f9a03f;
    color: #fff;
}

/* enlace sin visitar */
a:link {
   text-decoration: none;
}

/* enlace visitado */
a:visited {
    color: #ccc;
}

/* estado del enlace mientras se esta haciendo un click */
a:active {
    text-decoration: underline;
    color:yellow;
}