body {
    font-family: Arial, SansSerif, Helvetica, "Times New Roman";
}

h1 {
    font-family: "Times New Roman", Arial;
    font-size: 20px;
    font-style: oblique;
    font-weight: lighter;
    color: #4281ed;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

p {
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 10px;
    line-height: 30px;
}

